
/* Glyph and descriptive title */

.glyphicon {
	padding: 5px; 

}

#title-descr {
	margin-left: 20px; 
}

.whole-line {
	margin-left: 50px; 
}

#myName {
	font-size: 50px;
}


/*Jumbotron*/


.jumbotron {
	border-top: 5px; 
	border-style: solid;
	border-color: black;
}


.top-buffer {
	margin-top: 35px;
}

/* Buttons
=====================================*/

.custom-button-one {
	color: #FAF3BC;
	background: #C900B1;
	padding: 85px 30px 15px 30px; 
	border-radius: 50%;
	text-transform: uppercase;
	text-decoration: none  !important;
	display: inline-block;
	width: 190px; 
	height: 200px;
	text-align: center;

}

.custom-button-two {
	color: #FAF3BC;
	background: #2350C4;
	padding: 85px 30px 15px 30px; 
	border-radius: 50%;
	text-transform: uppercase;
	text-decoration: none  !important;
	display: inline-block;
	width: 190px; 
	height: 200px; 
	text-align: center;

}
.custom-button-one:hover {
	color: #FAF3BC;
	background: #23C4C4;
}

.custom-button-two:hover {
	color: #FAF3BC;
	background: #23C4C4;
}


















































































































































